.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.desktop-nav {
    display: flex;
}
.desktop-nav a {
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.login-btn {
    padding: 13px 25px;
    font-size: 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0056b3;
}
